In [1]:
from classes import *

Line_13 = Line(bus_p="1", bus_q="3", impedance=complex(0.08, 0.24), half_line_charging_admittance=complex(0.0, 0.025))
Line_12 = Line(bus_p="1", bus_q="2", impedance=complex(0.02, 0.06), half_line_charging_admittance=complex(0.0, 0.03))

display(Line_13.build_Line_pq())
display(Line_12.build_Line_pq())

bus1 = Bus(bus_id=1, voltage_magnitude=20, voltage_angle=0)
print(bus1)

              1             3
1  1.250-3.725j -1.250+3.750j
3 -1.250+3.750j  1.250-3.725j

             1            2
1  5.00-14.97j -5.00+15.00j
2 -5.00+15.00j  5.00-14.97j

Bus ID: 1, Voltage Magnitude: 20, Voltage angle: 0