# Setting up Y_Bus, bus and line objects for all task

In [4]:
from classes import *
import pandas as pd
import os

pathToFile = os.path.abspath(os.curdir)
df_line_data = pd.read_excel(f"{pathToFile}\\files\\network_configuration.xlsx", sheet_name="Line_data")
df_bus_data = pd.read_excel(f"{pathToFile}\\files\\network_configuration.xlsx", sheet_name="Bus_data")
line_data = df_line_data.to_dict(orient='records')
bus_data = df_bus_data.to_dict(orient='records')
line_admittences = []
num_buses = len(bus_data)
display(bus_data)

for line_dict in line_data:
    line = Line(
        bus_p=line_dict['From line'],
        bus_q=line_dict['To line'],
        impedance=complex(line_dict['R[pu]'], line_dict['X[pu]']),
        half_line_charging_admittance=complex(line_dict['Half Line Charging Admittance'])
    )
    line_admittences.append(line.build_Line_Y_bus())


display(line_admittences)
Ybus_initialize = Y_Bus(line_adm=line_admittences)
YBus = Ybus_initialize.build_YBUS(num_buses=num_buses)
display(YBus)

# bus1 = Bus(bus_id=1, voltage_magnitude=20, voltage_angle=0)
#print(bus1)

test_YBUS = pd.DataFrame(0, index=range(1, 6), columns=range(1,6))
test_YBUS[1] = [complex(25/4,-3739/200), complex(-5, 15), complex(-5/4, 15/4), 0, 0]
test_YBUS[2] = [complex(-5, 15), complex(65/6, -6483/200), complex(-5/3, 5), complex(-5/3, 5), complex(-5/2, 15/2)]
test_YBUS[3] = [complex(-5/4, 15/4), complex(-5/3, 5), complex(155/12, -7739/200), complex(-10, 30), 0]
test_YBUS[4] = [0, complex(-5/3, 5), complex(-10, 30), complex(155/12, -7739/200), complex(-5/4, 15/4)]
test_YBUS[5] = [0, complex(-5/2, 15/2), 0, complex(-5/4, 15/4), complex(15/4, -1121/100)]
display(test_YBUS)

[{'Bus Code': 1,
  'Assumed bus voltage (pu)': 1.06,
  'Angle': 0,
  'Generation (MW)': '-',
  'Generation (MVAr)': '-',
  'Load (MW)': 0,
  'Load (MVAr)': 0},
 {'Bus Code': 2,
  'Assumed bus voltage (pu)': 1.0,
  'Angle': 0,
  'Generation (MW)': 40,
  'Generation (MVAr)': '-',
  'Load (MW)': 20,
  'Load (MVAr)': 10},
 {'Bus Code': 3,
  'Assumed bus voltage (pu)': 1.0,
  'Angle': 0,
  'Generation (MW)': 0,
  'Generation (MVAr)': 0,
  'Load (MW)': 45,
  'Load (MVAr)': 15},
 {'Bus Code': 4,
  'Assumed bus voltage (pu)': 1.0,
  'Angle': 0,
  'Generation (MW)': 0,
  'Generation (MVAr)': 0,
  'Load (MW)': 40,
  'Load (MVAr)': 5},
 {'Bus Code': 5,
  'Assumed bus voltage (pu)': 1.0,
  'Angle': 0,
  'Generation (MW)': 0,
  'Generation (MVAr)': 0,
  'Load (MW)': 60,
  'Load (MVAr)': 10}]

[{'Y11': (5.030000000000001-15j),
  'Y12': (-5.000000000000001+15j),
  'Y21': (-5.000000000000001+15j),
  'Y22': (5.030000000000001-15j)},
 {'Y11': (1.2750000000000001-3.75j),
  'Y13': (-1.2500000000000002+3.75j),
  'Y31': (-1.2500000000000002+3.75j),
  'Y33': (1.2750000000000001-3.75j)},
 {'Y22': (1.6866666666666668-5j),
  'Y23': (-1.6666666666666667+5j),
  'Y32': (-1.6666666666666667+5j),
  'Y33': (1.6866666666666668-5j)},
 {'Y22': (1.6866666666666668-5j),
  'Y24': (-1.6666666666666667+5j),
  'Y42': (-1.6666666666666667+5j),
  'Y44': (1.6866666666666668-5j)},
 {'Y22': (2.5150000000000006-7.5j),
  'Y25': (-2.5000000000000004+7.5j),
  'Y52': (-2.5000000000000004+7.5j),
  'Y55': (2.5150000000000006-7.5j)},
 {'Y33': (10.010000000000002-30j),
  'Y34': (-10.000000000000002+30j),
  'Y43': (-10.000000000000002+30j),
  'Y44': (10.010000000000002-30j)},
 {'Y44': (1.2750000000000001-3.75j),
  'Y45': (-1.2500000000000002+3.75j),
  'Y54': (-1.2500000000000002+3.75j),
  'Y55': (1.2750000000000001-3.75j)}]

c:\Users\aleks\PSA\PSA_CourseProject\classes.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '6.305000+-18.750000j' has dtype incompatible with complex128, please explicitly cast to a compatible dtype first.
  Y_bus.loc[i, j] = f"{Y_bus.loc[i, j].real:.6f}+{Y_bus.loc[i, j].imag:.6f}j"
c:\Users\aleks\PSA\PSA_CourseProject\classes.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '5.000000+-15.000000j' has dtype incompatible with complex128, please explicitly cast to a compatible dtype first.
  Y_bus.loc[i, j] = f"{Y_bus.loc[i, j].real:.6f}+{Y_bus.loc[i, j].imag:.6f}j"
c:\Users\aleks\PSA\PSA_CourseProject\classes.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.250000+-3.750000j' has dtype incompatible with complex128, please explicitly cast to a compatible dtype first.
  Y_bus.loc[i, j] = f"{Y_bus.loc[i, j].real:.6f}+{Y_bus.loc[i, j].imag:.6f}j"
c:\Users\aleks\PSA\PSA_CourseProject\classes.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.000000+0.000000j' has dtype incompatible with complex128, please explicitly cast to a compatible dtype first.
  Y_bus.loc[i, j] = f"{Y_bus.loc[i, j].real:.6f}+{Y_bus.loc[i, j].imag:.6f}j"

,1,2,3,4,5
1,6.305000+-18.750000j,5.000000+-15.000000j,1.250000+-3.750000j,0.000000+0.000000j,0.000000+0.000000j
2,5.000000+-15.000000j,10.918333+-32.500000j,1.666667+-5.000000j,1.666667+-5.000000j,2.500000+-7.500000j
3,1.250000+-3.750000j,1.666667+-5.000000j,2.961667+-8.750000j,0.000000+0.000000j,0.000000+0.000000j
4,0.000000+0.000000j,1.666667+-5.000000j,0.000000+0.000000j,1.686667+-5.000000j,0.000000+0.000000j
5,0.000000+0.000000j,2.500000+-7.500000j,0.000000+0.000000j,0.000000+0.000000j,2.515000+-7.500000j

,1,2,3,4,5
1,6.250-18.695j,-5.000000+15.000000j,-1.250000+ 3.750000j,0.000000+ 0.000000j,0.00+ 0.00j
2,-5.000+15.000j,10.833333-32.415000j,-1.666667+ 5.000000j,-1.666667+ 5.000000j,-2.50+ 7.50j
3,-1.250+ 3.750j,-1.666667+ 5.000000j,12.916667-38.695000j,-10.000000+30.000000j,0.00+ 0.00j
4,0.000+ 0.000j,-1.666667+ 5.000000j,-10.000000+30.000000j,12.916667-38.695000j,-1.25+ 3.75j
5,0.000+ 0.000j,-2.500000+ 7.500000j,0.000000+ 0.000000j,-1.250000+ 3.750000j,3.75-11.21j

# Newton Raphson Load Flow Algorithm

# Decoupled Load Flow

# Fast Decoupled Load Flow

# DC Power Flow