# Andreas sitt workplace, GTFO!!

Jacobi 22

In [86]:


# main del #################################################################################
#  fÃ¥r inn verdier for y og bus  

# Import necessary classes from the 'classes' module
from classes import *
import pandas as pd
import os

# Get the absolute path to the current directory
pathToFile = os.path.abspath(os.curdir)

# Read network configuration data from an Excel file
df_line_data = pd.read_excel(f"{pathToFile}\\files\\network_configuration.xlsx", sheet_name="Line_data")
df_bus_data = pd.read_excel(f"{pathToFile}\\files\\network_configuration.xlsx", sheet_name="Bus_data")

# Display the line data
#display(df_line_data)

# Convert data frames to dictionaries
line_data = df_line_data.to_dict(orient='records')
bus_data = df_bus_data.to_dict(orient='records')

# Display the bus data
display(df_bus_data)

# Initialize a list to store line admittances
line_admittences = []

# Loop through the line data and build Line objects
for line_dict in line_data:
    line = Line(
        bus_p=line_dict['From line'],
        bus_q=line_dict['To line'],
        impedance=complex(line_dict['R[pu]'], line_dict['X[pu]']),
        half_line_charging_admittance=complex(line_dict['Half Line Charging Admittance'])
    )
    line_admittences.append(line.build_Line_Y_bus())

# Display the line admittances
#display(line_admittences)

# Create a Bus object for bus 1 with specific parameters
bus1 = Bus(bus_id=1, voltage_magnitude=20, voltage_angle=0)

# Uncomment the following line if you want to print the bus1 object
# print(bus1)

# slutt main del ##################################################################

a_bus_data = df_bus_data.values

#display(a_bus_data)

df_overview = pd.DataFrame(columns=['Bus number', 'Type', 'Known', 'Unknown'], index=[df_bus_data.index])

# for i in df_bus_data.index:

#     df_overview.loc[i, 'Bus number'] = df_bus_data.loc[i, 'Bus Code']

#     if df_bus_data.loc[i, 'Generation (MW)'] > 0 and df_bus_data.loc[i, 'Load (MW)'] > 0:
#         df_overview.loc[i, 'Type'] = 'P'

print(df_bus_data.loc[0, 'Generation (MW)'])

for i in df_bus_data.index:
    df_overview.loc[i, 'Bus number'] = df_bus_data.loc[i, 'Bus Code']

    try:
        generation_mw = (df_bus_data.loc[i, 'Generation (MW)'])
        load_mw = (df_bus_data.loc[i, 'Load (MW)'])
        generation_mvar = (df_bus_data.loc[i, 'Generation (MVAr)'])
        load_mvar = (df_bus_data.loc[i, 'Load (MVAr)'])
        bus_voltage = (df_bus_data.loc[i, 'Assumed bus voltage (pu)'])
    except ValueError:
        # Handle non-integer values
        generation_mw = "-"
        load_mw = "-"
        generation_mvar = "-"
        load_mvar = "-"
        bus_voltage = "-"


    if generation_mw != "-" and load_mw != "-" and generation_mvar != "-" and load_mvar != "-":
        df_overview.loc[i, 'Type'] = "PQ"
    
    elif bus_voltage != "-" and (generation_mw != "-" and load_mw != "-"):
        df_overview.loc[i, 'Type'] = "PV"

    else:
         df_overview.loc[i, 'Type'] = "Slack "

 

# Display the updated df_overview
display(df_overview)

,Bus Code,Assumed bus voltage (pu),Generation (MW),Generation (MVAr),Load (MW),Load (MVAr)
0,1,1.06,-,-,0,0
1,2,1.00,40,-,20,10
2,3,1.00,0,0,45,15
3,4,1.00,0,0,40,5
4,5,1.00,0,0,60,10

-

  Bus number    Type Known Unknown
0          1  Slack    NaN     NaN
1          2      PV   NaN     NaN
2          3      PQ   NaN     NaN
3          4      PQ   NaN     NaN
4          5      PQ   NaN     NaN